// ブレークポイント設定
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  'sm': 'screen and (min-width: #{$sm})',
  'md': 'screen and (min-width: #{$md})',
  'lg': 'screen and (min-width: #{$lg})',
  'xl': 'screen and (min-width: #{$xl})',
);

@mixin mq($size: md) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}

// ===== ↑ブレークポイントの使い方 =====
// .foo {
//   color: blue;
//   @include mq() { // 引数を省略（初期値はmd）
//     color: yellow;
//   }
//   @include mq(lg) { // 引数を個別に指定
//     color: red;
//   }
// }
// ==================================

// カラー
$main_color: #9e886d;
$sub_color: #666;
$accent_color: #61dafb;
$text_color: #666;
$bg_color: #fafafa;
$bg_color_light: #f5f5f5;
$bg_color_dark: #ececec;
